.py-51 {
    padding-top: 0vw;
    padding-bottom: 3vw;
    width: 80vw;

}

/* .mb-467{
    margin-top: 100vw;
   
} */
.ayushhhy {
    padding-top: 0vh;
    align-items: center !important;
    width: 100%;
}

.mb-467 {
    padding-top: 3vh;
}

.w-100999 {
    height: 18vw;
    width: 40vw;
}
.w-1009{
    height: 20vw;
    width: 40vw;
}
/* .mb-4677{
    height: 12vw; 
} */