.ddd1{
    padding-left: 5vw;
    padding-top: 10vh;
}
.mb-46777{
    padding-right: 10vw;
    
}
.py-590{
    padding-left: 0vw;
}
.py-5909{
    padding-left: 45vw;
}
.ccc {
    /* width: 105vw;
    height: 100vh; */
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/984/892/original/banner-design-geometric-hexagon-colorful-overlapping-with-background-free-vector.jpg");
    background-position: 0vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ayushy{
    width: 100%;
  }
  .mb-590{
    padding-top: 6vh;
  }
  .mb-4678{
    padding-right: 10vw;
    padding-left: -5vw;
  }
  .py-59066{
    padding-top: 5vh;
    padding-left: 0vw;
    padding-bottom: 4vh;
  }
  .qqq{
    padding-top: 3vh;
    padding-bottom: 2vh;
  }
  